@model string

<div class="page mt-3 animate__animated animate__fadeInUp">
    @Html.Raw(Model)
</div>

<link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
<style>
    .page {
        text-align: left !important;
        border: 1px solid #dfdfdf;
        border-radius: 12px;
        padding: 0.5rem;
    }
</style>