@model SimplySoft.Core.Test.WebUI.Models.StartModel

<div class="animate__animated animate__fadeInRight animate__fast">
    <div>
        <label asp-for="ResetPasswordPrompt.Password" class="form-label"></label>
        <input asp-for="ResetPasswordPrompt.Password" type="password" class="form-control form-control-sm" placeholder="Password">
        <span asp-validation-for="ResetPasswordPrompt.Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ResetPasswordPrompt.ConfirmPassword" class="form-label"></label>
        <input asp-for="ResetPasswordPrompt.ConfirmPassword" type="password" class="form-control form-control-sm" placeholder="Confirm Password">
        <span asp-validation-for="ResetPasswordPrompt.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="right">
        <input class="btn btn-sm btn-primary" type="submit" value="Next" />
    </div>
</div>