@model SimplySoft.Core.Test.WebUI.Models.ResponseMessage

@{ 
    string alertClass = string.Empty;
    string glyph = string.Empty;

    switch (Model.AlertLevel)
    {
        case AlertLevel.Information:
            alertClass = "alert-info"; glyph = "fa-circle-info"; break;
        case AlertLevel.Success:
            alertClass = "alert-success"; glyph = "fa-circle-check"; break;
        case AlertLevel.Warning:
            alertClass = "alert-warning"; glyph = "fa-triangle-exclamation"; break;
        case AlertLevel.Error:
            alertClass = "alert-danger"; glyph = "fa-circle-exclamation"; break;
    }

    <div class="alert alert-dismissible @alertClass animate__animated animate__fadeInUp" role="alert">
        <span><i class="fa @glyph"></i></span>
        <span>@Model.Message</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <style>
        .alert span i {
            padding: 0 1rem;
        }
    </style>
}
