@model SimplySoft.Core.Test.WebUI.Models.StartModel

<div class="text-center mb-4">
    <h4 class="title">Account Recovery</h4>
    <p class="subtitle">We want make sure it is really you before we proceed forward with this</p>
</div>
<div class="flex-form animate__animated animate__fadeInRight animate__fast">
    <div>
        <label class="subtitle cn-text-dark mb-3">Enter the verification code that we sent to @Model.ActivationPrompt.Email</label>
        <div class="named-input-box">
            <div>C-</div>
            <input asp-for="ActivationPrompt.Pin" type="number" placeholder="Verification Code" class="no-spin" />
        </div>
        <span asp-validation-for="ActivationPrompt.Pin" class="validation-message"></span>
    </div>
    <div class="text-right">
        <input type="submit" style="width: 80px;" value="Next" class="cn-btn cn-btn-primary" />
    </div>
</div>